.visualnovel-window {
    --resize-handle-n-top: 32px;
}

.visualnovel-outer {
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;
}

.visualnovel-title {
    background-color: var(--color-accent);
    color: var(--color-bg);
    min-width: fit-content;
    width: 7rem;
    padding: 9px 24px;

    margin-bottom: -1rem;
    position: relative;
    z-index: 2;
}

.visualnovel-content {
    position: relative;
    display: flex;
    background: var(--color-bg);
    border: solid 1px var(--color-fg2);

    padding: 0.75rem 0.5rem;
    width: 100%;
    flex: 1;
    min-height: 0;

}

/* Text formatting classes */
.vn-text-normal {
    font-weight: normal;
    font-style: normal;
    text-decoration: none;
    font-family: inherit;
}

.vn-text-bold {
    font-weight: bold;
    font-style: normal;
    text-decoration: none;
    font-family: inherit;
}

.vn-text-italic {
    font-weight: normal;
    font-style: italic;
    text-decoration: none;
    font-family: inherit;
}

.vn-text-bold-italic {
    font-weight: bold;
    font-style: italic;
    text-decoration: none;
    font-family: inherit;
}

.vn-text-strikethrough {
    font-weight: normal;
    font-style: normal;
    text-decoration: line-through;
    font-family: inherit;
}

.vn-text-monospace {
    font-weight: normal;
    font-style: normal;
    text-decoration: none;
    font-family: "OCR-A BT", monospace;
}