@import 'tailwindcss';
@import "../assets/fonts/fonts.css";

body {
    background-color: var(--color-bg);
    color: var(--color-fg);
    font-family: "Bricolage Grotesque";
    font-weight: normal;
    width: 100vw;
    height: 100vh;
    display: flex;
    overflow: hidden;
    line-height: normal;
    font-size: 16px;
}

.thick-shadow {
    box-shadow: 0 4px 0 0 var(--color-shadow);
}

@theme {
    --font-display: "Bricolage Grotesque";
    --font-serif: "Cormorant Garamond";

    --color-bg: #100721;
    --color-fg: #C6B9DC;
    --color-fg2: #4C376F;
    --color-shadow: #422670;

    --color-accent: #B4A3FD;
}
